body {
    background-image: url("https://i.imgur.com/zLH9vSy.png");
    background-repeat: repeat;
}

.banner {
    background: url("../images/Catantiles.png") no-repeat top left;
    background-color: #fff;
    margin-top: 0px;
    height: 610px;
    padding: 10px!important;
    background-size: contain;
}

.outerBanner {
    background: url("../images/starbg.png") no-repeat top center;
    background-size: cover;
    height:650px;
    padding: 20px;
}

.headerText {
    float:right;
    width:70%;
    margin-top: 200px;


}